{% extends "base.html.twig" %}

{% block body %}
    {% include "@App/components/navigation.html.twig" %}

    <div class="container">

        <h1>{{ movieList.title }}</h1>
        <ul class="media-list">
            {% for movie in movies %}
                <li class="media {{ cycle(['even','odd'],loop.index) }}">
                    <div class="media-left">
                        <a href="http://imdb.com{{ movie.url }}" target="_blank"><img class="media-object" src="{{ movie.image }}"/></a>
                    </div>
                    <div class="media-body">
                        <a href="http://imdb.com{{ movie.url }}" target="_blank">{{ movie.title }} - {{ movie.year }}
                            - {{ movie.rating }}</a>
                        <p>{{ movie.description }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <nav>
            <ul class="pager">
                {% if previousMovieListId %}
                    <li>
                        <a href="{{ url('list-details-page', { 'id': previousMovieListId }) }}">Previous List</a>
                    </li>
                {% endif %}
                {% if nextMovieListId %}
                    <li>
                        <a href="{{ url('list-details-page', { 'id': nextMovieListId }) }}">Next List</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </div><!-- /.container -->

{% endblock %}